version: '3.8'

services:
  db:
    image: postgres:13
    container_name: conecta_ufc_db
    hostname: postgres
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=conecta_ufc
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  app:
    container_name: conecta_ufc_app
    build :
      context: .
      target: prod
    ports:
      - 8080:8080
    depends_on:
      - db
    environment:
      - DATABASE_URL=jdbc:postgresql://postgres:5432/conecta_ufc
      - DB_USER=root
      - DB_PASSWORD=root
    restart: always

volumes:
  postgres_data:
