version: '3.8'

services:
  db:
    image: postgres:13
    container_name: conecta_ufc_db
    hostname: postgres
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=conecta_ufc
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always



volumes:
  postgres_data:
